@media(max-width:1200px){
    .title{
        font-size: calc(28px + (48 - 28 ) * ((100vw - 360px) / (1200 - 360)));;
        margin-bottom: calc(15px + 3vw);
    }
    .hero-title{
        font-size: calc(40px + (150 - 40 ) * ((100vw - 360px) / (1200 - 360)));
    }
    .hero-text{
        font-size: calc(18px + (24 - 18 ) * ((100vw - 360px) / (1200 - 360)));;
    }
    .about,
    .works,
    .reviews,
    .contacts {
    padding: calc(15px + 5vw) 0;
}
}
@media(max-width:992px){
    .burger{
        display: block;
        background-color: transparent;
        width: 40px;
        height: 30px;
        position: relative;
        color:  rgb(var(--c-white));
    }
    .burger::before,
    .burger::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    .burger::before{
        top: 0;
    }
    .burger::after{
        top: calc(100% - 2px);
    }
    .burger.is-active .burger-line{
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
    }
    .burger.is-active::before{
        transform: rotate(45deg);
        top: 50%;
    }
    .burger.is-active::after{
        transform: rotate(-45deg);
        top: 50%;
    }
    .burger-line{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transition: all 0.3s es;
    }
    .menu{
        position: absolute;
        padding: 30px; 
        top: 100%;
        right: 0;
        width: 300px;
        flex-direction: column;
        gap: 20px;
        background-color: var(--c-smoky);
        border-radius: 0 0 0 15px;
        opacity: 1;
        transform: translate(150%);
        transition: all 0.3s ease-in-out;
    }
    .menu.open{
        opacity: 1;
        transform: translate(0);

    }
    .menu-link{
        font-size: 30px;
    }
    .services-list,
    .works-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .works-nav {
        gap: calc(10px + 2 vw) calc(10px + 3vw);
        margin-bottom: calc(10px + 3 vw);
       }
    .reviews-list{
        margin-bottom: calc(10px + 3 vw);
    }
}
@media(max-width:768px){
    .swiper-slide-next{
    opacity: 0;
    
    }
    .reviews-slider{
        padding: 0;
    }
    .reviews-buttons{
        display: none;
    }
    
}
@media(max-width:576px){
    
    .services-list,
    .works-list {
        grid-template-columns: repeat(1, 1fr);
    }
}